

/*aquí empieza la estructura del body*/ 

body{
    font-family: 'BebasNeue-Regular', sans-serif;
    background-image: url("images/vector-abstract-lilac-texture-background-image-.jpg");
    background-size: cover;
    height: 700px;
    width: 1350px;
  }


header{
    position: relative;
    align-items: center;
    padding: 20px 0; 
    width: 100%;
    display: flex;
}

.LogoAlura{
width: auto;
height: 45px;
}

.encabezado{
    color: #1d5d94;
position: fixed;
text-align: center;
margin: 550px; 
padding: 0;
position: absolute;
font-size: 50px;
/*font-family: 'MonomaniacOne-Regular';*/
font-family: 'BebasNeue-Regular'; 
font-style: italic;
}


.cuerpopagina{
height: 400px;
width: 950px;

}
.Bottons{
 font-size: 20px;   
}


.Encriptador, .Desencriptador{
    border:3px solid #c45c7070;
    border-radius: 10px;
    background-color: #4d196069; 
    padding: 2%;
    width: 30%;
    transition: 1s all;
    cursor:pointer;
    font-size: 100%; 
    color: #4c0555;
    font-family: 'BebasNeue-Regular';
}


.Encriptador:hover, .Desencriptador:hover{
   background: #de89ffea;
   

} 


.textousuario{
    position: absolute;
width: 315px;
height: 610px;
left: 1012px;
top: 52px;
border-radius: 24px;
font-family: 'BebasNeue-Regular';
font-style: normal;
font-size: 24px;
line-height: 150%;
color: #495057;

}

.Piezabaja{
height: 150px;
}



.text-area {
    width: 450px; 
    height: 250px; 
    resize: none; 
    overflow: auto; 
    background-color:#cb8bdd85; 
    border-block: aliceblue;
    font-size: 30px;
}  

  

.mensaje{

    width: 316px;
    height: 475px;
    left: 1012px;
    top: 52px;
    resize: none; 
    overflow: auto; 
    background-color:#cb8bdd85;  
    background-image: url("images/Muñeco.png");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 24px;
    color: #0A3871;
    font-size: 24px;
    line-height: 150%;
    cursor: default; 
    pointer-events: none;

}
.mensaje:focus {
    outline: none;
}


.buttoncopy {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Ajusta el margen superior según sea necesario */
  }
  
  .copiar {
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #064ca1;
    cursor: pointer;
    width: 150px;
    height: 40px;
    font-size: 16px;
    display: inline-block; 
  }
  


footer{
    text-align: center; 
    padding: 40px;
    /*position: bottom;*/
}


.informacion {
    color: #013468; 
    font-size:18px;
} 

.iconolinkedin{
    height: 65px; 
}
   
.iconolinkedin:hover{
    height: 70px;
}


